
body{
    background-color: #e9e2d0;
}
hr {
    height: 0px;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: #ea9085;
    width: 5%;
}

h1 {
    color: #6e5773;

}

h3 {
    color: #6e5773;
}